*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

images/Google
images/google
images/amazon
images/android
images/samsung
images/AppScreens*
images/googleplay
app/google-services.json
.idea/

app/release

shinebuttonlib/build